# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

$PRODUCT_WORKSPACE_FILE$
.idea
.gitignore
git_idea_test.iml
gitignore
